name: Build and test

on:
  push:
    branches-ignore:
      - 'docs-*'
  pull_request:
    branches-ignore:
      - 'docs-*'

env:
  PYTHON_VERSION: 3.9

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - uses: actions/checkout@v4

    - name: Install NODE JS
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: 'pip'

    - name: Install project
      run: yarn install

    - name: Install slither
      run: pip3 install -r scripts/requirements.txt

    - name: Show slither version
      run: slither --version

    - name: lint
      run: yarn fullCheck

    - name: Test deployment
      run: ./scripts/test_deploy.sh

    - name: Test upgrade
      env:
        NODE_VERSION: ${{ matrix.node-version }}
      run: ./scripts/test_upgrade.sh

    - name: Test ABI ageneration
      run: npx hardhat run scripts/generateAbi.ts

    - name: Run tests
      run: npx hardhat coverage --solcoverjs .solcover.js

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
